@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
	box-sizing: border-box;
}
:root {
	--main-font: "IBM Plex Sans", sans-serif;
}
body {
	font-family: "IBM Plex Sans", sans-serif;
	margin: 0;
	font-size: 16px;
	font-style: normal;
}
#hero {
	background-size: cover;
}
strong {
	font-weight: 500;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}
p,
div {
	font-family: "IBM Plex Sans", sans-serif !important;
	line-height: 18px;
	font-size: 14px;
	font-weight: normal;
}
.ellipsis {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.ellipsis i {
	width: 10px;
}
.dots {
	border: none;
	outline: none;
	background-color: #ffffff;
}
.dots:hover {
}
#fb {
	width: 20px;
}
#orsignin {
	text-decoration: underline;
	font-weight: 600;
	line-height: 35px;
}
#privacy {
	text-align: center;
}

#location {
	display: none;
}
#basic-addon1 {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	border-right: 0;
}
#searchtop {
	border-left: 0;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}
#sticknav {
}
#hero {
}

#location {
	display: flex;
	flex-direction: column;
}
#sticknav {
	padding-left: 300px;
}

#hero-layer {
	background-color: black;
	opacity: 0.5;
	width: 100%;
}

#herocontent h1 {
	font-size: 17px;
	line-height: 22px;
	font-weight: 700;
}
#herocontent p {
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
}
#allposts {
	display: none;
}
.group-container #group1 {
	display: inline-flex;
	list-style: none;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}
#group2 {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
}
#group2 img {
	max-width: 40px;
}
#group2 li {
	padding: 2px;
}
#bigsignin {
	display: none;
}
#signorcreate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#create {
	
	display:none;
	flex-direction: column;
}
#create img {
	max-width: 100%;
	height: 320px;
	object-fit: fill;
}
#item1 {
	display: none;
}
#topnav {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-left: 80px;
	padding-right: 80px;
}
#location {
	display: none;
}
nav {
	width: 100%;
	margin: auto;
}
#nav-container {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
#lgcross {
	display: none;
}
#smcross {
	display: block;
}
#filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.jumbotron {
	color: white;
	background-image: url("./images/heroo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
}
#herocontent {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}
#back {
	display: block;
}
#join {
	display: block;
}
#twonav {
	display: none !important;
}
.fab-container {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	cursor: pointer;
	
}

.fab-icon-holder {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #016fb9;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
	opacity: 0.8;
}

.fab-icon-holder i {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 25px;
	color: #ffffff;
}

.fab {
	width: 60px;
	height: 60px;
	background: rgb(154,29,253);
background: linear-gradient(0deg, rgba(154,29,253,1) 14%, rgba(252,69,124,1) 72%);
}

.fab-options {
	list-style-type: none;
	margin: 0;
	position: absolute;
	bottom: 70px;
	right: 0;
	opacity: 0;
	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}

.fab:hover + .fab-options,
.fab-options:hover {
	opacity: 1;
	transform: scale(1);
}

.fab-options li {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.fab-label {
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 16px;
	background: #666666;
	color: #ffffff;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
	margin-right: 10px;
}
@media (min-width: 576px) {
	#filter {
		display: flex;
		flex-direction: row;
	}

	#sticky-list {
		display: none;
	}

	#views {
		align-self: start;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#item1 {
		display: none;
	}
	#item2 {
		display: block;
	}
	#smcross {
		display: block;
	}
	#lgcross {
		display: none;
	}
	.jumbotron {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-between;
	}
	#herocontent {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		width: 65%;
	}
	#twonav {
		display: none !important;
	}
	#write {
		display: none;
	}
	#join {
		display: none;
	}
}

@media (min-width: 768px) {
	.fab-container {
		display: none;
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	#filter {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	#location {
		display: flex;
		flex-direction: column;
	}
	#sticknav {
		padding-left: 300px;
	}
	#twonav {
		display: none !important;
	}

	#hero-layer {
		background-color: black;
		opacity: 0.5;
		width: 100%;
	}
	#herocontent h1 {
		font-size: 36px;
		line-height: 47px;
		font-weight: 600;
	}
	#herocontent p {
		font-size: 18px;
		line-height: 23px;
	}
	#signorcreate {
		display: none;
	}
	#bigsignin {
		margin-top: 25px;
		display: block;
	}

	#topnav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	#item2 {
		display: none;
	}
	#item1 {
		display: block;
	}
	#lgcross {
		display: block;
	}
	#smcross {
		display: none;
	}
	#back {
		display: none;
	}

	#write {
		display: none;
	}
	#join {
		display: none;
	}
	#allposts {
		display: none;
	}
	#create {
		display: none;
	}
}

@media (min-width: 992px) {
	#filter {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	#hero {
		background-size: cover;
	}
	#allposts {
		display: none;
		flex-direction: row;
		justify-content: start;
	}

	#twonav button {
		display: none !important;
	}
	#lgcross {
		display: block;
	}
	#smcross {
		display: none;
	}

	#sticky-list {
		display: none;
		flex-direction: row;
		justify-content: start;
	}
	#write {
		display: none;
	}
	#join {
		display: none;
	}
	#create {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 1200px) {
	#filter {
		display: none;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	#twonav {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	#allposts {
		display: flex;
		flex-direction: row;
	}
	#sticky-list {
		display: flex;
	}
	#lgcross {
		display: block;
	}
	#smcross {
		display: none;
	}
	#write {
		display: block;
	}
	#join {
		display: block;
	}
}

@media (min-width: 1400px) {
}
